<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CoffeeApp.com, <%= @order.name %></h1>
    <p>
      You have ordered a: <%= @order.order %>.<br>
    </p>
    <p>Thanks for ordering - please await a confirmation email and have a great day!</p>
  </body>
</html>