<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry: <%= @order.name %></h1>
    <p>
     <%= "Your order : #{@order.size} #{@order.coffee_type} with #{@order.milk}" %>.<br>
    </p>
    <p>Is unfortunately unable to be completed at this time due to .....</p>
  </body>
</html> 