%h1.center Welcome to Konoha coffee!
= form_tag shops_state_path, :method => 'get' do
  %h1.formheading Please select state
  %p Find Konoha coffee locations in your area
  .form-group
  = select_tag :state, options_for_select(Shop::STATE), prompt: "select state", label: false
  = submit_tag 'View Shops'