%h1.center.jumbotron Add Coffee Shop

%form.form-horizontal.form-group 
= simple_form_for @shop do |f|
  = f.input :name, placeholder: 'name'
  = f.input :description, cols: 40, rows: 7, placeholder: "Shop description"
  = f.button :submit 

