%h1.center.jumbotron Coffee Orders

%form.form-horizontal.form-group
= simple_form_for [@shop, @order] do |f|
  .form-group
    = f.input :name, size: 40, autofocus: true, placeholder: 'name' 
    = f.input :email, size: 40, placeholder: 'email'
    = f.input :order, size: 40, placeholder: "What would you like?" 
    %script{src: "https://checkout.stripe.com/checkout.js", class: "stripe-button", "data-key" => Rails.configuration.stripe[:publishable_key], "data-description" => "Coffee Payment", "data-amount" => "500", "data-locale" => "auto"}