.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align:center;
    font-size: 16px;
    margin-bottom:0px;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align:center;
    font-size: 16px;
    margin-bottom:0px;

 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align:center;
    font-size:16px;
    margin-bottom:0px;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align:center;
    font-size:16px;
    margin-bottom:0px;
}
