@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Cinzel+Decorative:400,700,900);


.Site {
  display:flex;
  min-height:100vh;
  flex-direction: column;
 }

 .Site-content{
 flex:1;
 }

body {

    font-family: 'Josefin Sans', sans-serif;
 }

 h3{
  text-align:center;
 }


 p{
  text-align:center;
  font-size:16px;
  }

 p.alert.alert-success{
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#3c763d;
    margin-bottom:0;
  }


 .img-circle{
  img{
   display:block;
   margin-left: auto;
   margin-right: auto;
  }
}

 .btn.btn-default{
   display:block;
   margin-left: auto;
   margin-right: auto;
  }

.welcome-header{
  margin-top:30px;
  margin-bottom:30px;
  h1{
  font-size:70px;
  }
}

