table{
   th{
     font-size:16px;
     text-align: center;
     }
   td{
     text-align:center;
     }
  .btn.btn-default{
     max-width: 90%;
     margin-bottom:10px;
     font-size:10px;
   }
  .btn.btn-default.delay{
     max-width:20px;
     margin:3px;
  }

}
