%div.footer.navbar-static-bottom.navbar-inverse
  %div.container
    %div.row
      %div.col-md-2.col-md-offset-2
        %h3 Who We Are
        %p=link_to 'More about us', '#'

      %div.col-md-2.col-md-offset-1
        %h3 Links
        %ul.list-unstyled
          %li=link_to 'Great Coffee', '#'
          %li=link_to 'Roast your own', '#'

      %div.col-md-2.col-md-offset-1
        %h3 Stay in Touch
        %ul.list-unstyled
          %li=link_to 'Facebook', '#'
          %li=link_to 'Twitter', '#'

